.slideshow-container {
  display:flex;
  flex-direction: column;
  justify-content: start;
  height: 1920px;
  padding-top: 289px;
  box-sizing: border-box;
}

.slideshow-image {
  max-height: 1080px;
  transform: rotateZ(-90deg);
}